---
layout: default
format: frontpage
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->


{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<div class="row t60">
	{% if page.widget1.title %}
		{% include _frontpage-widget.html widget=page.widget1 %}
	{% endif %}


	{% if page.widget2.title %}
		{% include _frontpage-widget.html widget=page.widget2 %}
	{% endif %}


	{% if page.widget3.title %}
		{% include _frontpage-widget.html widget=page.widget3 %}
	{% endif %}
</div><!-- /.row -->



{% comment %}
*
* First check, if there is a call for action-button
*
{% endcomment %}
{% if page.callforaction.url contains 'http' %}
{% assign url = '' %}
{% else %}
{% capture url %}{{ site.url }}{{ site.baseurl }}{% endcapture %}
{% endif %}
{% if page.callforaction %}
    <div class="row t60 b60">
        <div class="small-12 text-center columns">
            <a class="button large radius {{ page.callforaction.style }}" href="{{ url }}{{ page.callforaction.url }}"{% if page.callforaction.url contains 'http' %} target="_blank" {% endif %}>{{ page.callforaction.text }}</a>
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->
{% endif %}



{% comment %}
*
* First check, if there are any posts at all
*
{% endcomment %}

{% unless site.posts == empty %}
    <div class="row t30 b20 homepage">
        <div class="small-12 columns">
            <h2>{{ site.data.language.new_blog_entries }}</h2>
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <div class="row">
        <div class="medium-7 columns">
            {% for post in site.posts limit:1 %}
            {% if post.subheadline %}<p class="subheadline">{{ post.subheadline }}</p>{% endif %}
            <h2><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <p>
                {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% else post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
                <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Lies {{ post.title | escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a>
            </p>
            {% if post.image.homepage %}
            <p>
	    <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="{{ post.title | escape_once }}"><img width="{% if post.image.large %}600{% else %}300{% endif %}" src="{{ site.urlimg }}{{ post.image.homepage }}" alt="{{ page.title | escape_once }}"></a>
	    </p>
            {% if post.image.caption_url and post.image.caption %}
            <p class="text-right caption">
                <a href="{{ post.image.caption_url }}">{{ post.image.caption }}</a>
            </p>
            {% endif %}{% endif %}
            {% endfor %}
        </div><!-- /.medium-5.columns -->


	{% capture pre %}<p><strong>{{ site.data.language.next_appointment }} <a href="{{ site.url }}{{ site.baseurl }}/assets/calendar/sg_bob_termine.ics" style="float: right;" target="_blank" class="icon-calendar" title="Kalendar herunterladen (.ics)" download> Kalender</a></p></strong></p><ul class="side-nav"><li>{% endcapture %}{% capture post %}<li class="text-right"><a href="{{ site.url }}{{ site.baseurl }}/aktuelles/"><strong>{{ site.data.language.more }}</strong></a></li></li>{% endcapture %}<div class="medium-5 columns">{% include termine %}{% assign termin = termine | first %}{% assign termin2 = termine[1] %}{% include termin termin=termin customname=false pre=pre post='</li>' %}{% include termin termin=termin2 customname=false pre='<li>' post=post %}

			<p><strong>{{ site.data.language.more_articles }}</strong></p>
            {% include list-posts entries='3' offset='1' %}
        </div><!-- /.medium-7.columns -->
    </div><!-- /.row -->
{% endunless %}


{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="row">
    {{ content }}
</div><!-- /.row -->
